{% extends "home.html" %}
    {% block title %}Pescada Store: Adicionar Produtos{% endblock %}

    {% block conteudo %}
        <body style="background: lightgrey !important;"></body>


        <div class="tittle-container">
            <h1> Adicionar Produto </h1>
        </div>

        <div class="formulario">
            <form action="{% url 'addProduct' %}" method="post">
                {% csrf_token %}
                <div class="alert-danger">
                    {% if msg %}
                        <h2> {{ msg }} </h2>
                    {% endif %}
                </div>
                <div class="content">
                    <div class="input-box">
                        <label for="username" class="form-label text-dark fw-bold">Tamanho:</label>
                        <select class="form-select border-dark" name="tamanho" required>
                          <option selected disabled></option>
                          <option value="S">S</option>
                          <option value="M">M</option>
                          <option value="L">L</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="preco" class="form-label text-dark fw-bold">Preco:</label>
                        <input type="number" name="preco" step="0.01" min="1" required>
                    </div>
                    <div class="input-box">
                        <label for="categoria" class="form-label text-dark fw-bold">Categoria:</label>
                        <select class="form-select border-dark" name="categoria" required>
                            <option selected disabled></option>
                            <option>Sweatshirt</option>
                            <option>T-Shirt</option>
                            <option>Long Sleeve</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="referencia" class="form-label text-dark fw-bold">Referencia:</label>
                        <select class="form-select border-dark" name="referencia" required>
                            <option selected disabled></option>
                            <option>SS01</option>
                            <option>TS01</option>
                            <option>LS01</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <label for="num_items" class="form-label text-dark fw-bold">Número de Items:</label>
                        <input type="number" name="stock" min="1" required>
                    </div>
                    <div class="input-box" style="visibility: hidden">
                        <label for="num_pontos">Número de Pontos:</label>
                        <input type="number" name="num_pontos" min="1" >
                    </div>
                    <label class="form-label text-dark fw-bold">Cor:</label>
                        <div class="form-check form-check">
                            <input type="radio" name="cor" class="form-check-input bg-dark" value="Azul" required>
                            <label for="cor" class="form-check-label">Azul</label>
                        </div>
                        <div class="form-check form-check">
                            <input type="radio" name="cor" class="form-check-input bg-dark" value="Branco" required>
                            <label for="cor" class="form-check-label">Branco</label>
                        </div>
                        <div class="form-check form-check">
                            <input type="radio" name="cor" class="form-check-input bg-dark" value="Cinzento" required>
                            <label for="cor" class="form-check-label">Cinzento</label>
                        </div>
                        <div class="form-check form-check">
                            <input type="radio" name="cor" class="form-check-input bg-dark" value="Preto" required>
                            <label for="cor" class="form-check-label">Preto</label>
                        </div>
                </div>
                <div class="button-container">
                    <button type="submit">Adicionar</button>
                </div>
            </form>
        </div>
    {% endblock %}
