{% extends "home.html" %}
    {% block title %}Pescada Store: Adicionar Staff Members{% endblock %}

    {% block conteudo %}

    <div class="tittle-container">
        <h1> Adicionar Staff </h1>
    </div>

    <div class="formulario">
        <form action="{% url 'addStaff' %}" method="post">
            {% csrf_token %}
            <div class="alert-danger">
                {% if msg %}
                    <h2> {{ msg }} </h2>
                {% endif %}
            </div>
            <div class="content">
                <div class="input-box">
                    <label for="username">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                </div>
                <div class="input-box">
                    <label for="primeiro_nome">Primeiro nome</label>
                    <input type="text" placeholder="Enter name" name="primeiro_nome" required>
                </div>
                <div class="input-box">
                    <label for="apelido">Apelido</label>
                    <input type="text" placeholder="Apelido" name="apelido" required>
                </div>
                <div class="input-box">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Email@gmail.com" name="email" required>
                </div>
                <div class="input-box">
                    <label for="data_nascimento">Data de Nascimento</label>
                    <input type="date" name="data_nascimento" required>
                </div>
                <div class="input-box">
                    <label for="morada">Morada</label>
                    <input type="text" placeholder="Rua Sousa Lopes 51" name="morada" required>
                </div>
                <div class="input-box">
                    <label for="numero_telemovel">Número de Télemovel</label>
                    <input type="number" placeholder="919191919" name="numero_telemovel" required>
                </div>
                <div class="input-box">
                    <label for="num_cartao_cidadao">Número do Cartão de Cidadão (CC)</label>
                    <input type="number" placeholder="123456789" name="num_cartao_cidadao" required>
                </div>
            </div>
            <div class="button-container">
                <button type="submit">Adicionar</button>
            </div>
        </form>
    </div>
    {% endblock %}