{% extends "home.html" %}
    {% block title %}Pescada Store: Carrinho de Compras{% endblock %}
    {% load static %}
    {% block conteudo %}
        <script>
        window.onload = function () {
            document.body.style.backgroundColor = "#f2f2f2"; // set background color to red
            document.body.style.paddingTop = "220px"; // set top padding to 50 pixels
            document.body.style.backgroundImage = "none";
        }

        </script>

        <div class="tittle-container">
            <h1> Carrinho </h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert-primary" style="width: 70%; border-radius: 4px; color: black; align-items: center">
                    <strong>{{ message }}</strong>
                </div>
                {% break %}
            {% endfor %}
        {% endif %}
        <div class="alert-warning">
            {% if empty %}
                <strong> {{ empty }} </strong>
            {% endif %}
        </div>
        {% if produtos and carrinho and items %}
            <ul class="product_list">
            {% for product in produtos %}
                <li>
                    <a href="{% url 'detail' produto_id=product.pk %}">
                        <img src="{% static "store/images/" %}{{ product.image }}" alt="{{ product }}">
                    </a>
                    <div class="row" style="width: 100%">
                        <div class="col-md-2" style="text-align: center; justify-content: center">
                            <br>
                            <form action="{% url 'addOrSubtractItem' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ product.id }}">
                                <button type="submit" class="btn btn-dark" style="width: 40px" name="-" value="-"><strong>-</strong></button>
                            </form>

                        </div>
                        <div class="col-md-8" style="text-align: center; justify-content: center">
                            <strong>Tamanho: {{ product.tamanho }}</strong>
                            <br>
                            {% for item in items %}
                                {% if item.produto_id == product.id %}
                                    <strong>Número de Itens: {{ item.quantidade }}</strong>
                                {% endif %}
                            {% endfor %}
                            <br>
                            <strong>Preço: {{ product.preco }}</strong>
                        </div>
                        <div class="col-md-2" style="text-align: center; justify-content: center">
                            <br>
                            <form action="{% url 'addOrSubtractItem' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="produto_id" value="{{ product.id }}">
                                <button type="submit" class="btn btn-dark" style="width: 40px" name="+" value="+"><strong>+</strong></button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert-warning" style="width: 100%; border-radius: 4px; color: black">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row" style="justify-content: center; text-align: center">
                <div class="col-md-4">
                    <strong>Total: {{ carrinho.valor_total }}€</strong>
                    <form method="POST" action="{% url 'finalizar_compra' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Efetuar Compra</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <br>
                    <form method="POST" action="{% url 'empty_cart' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Limpar Carrinho</button>
                    </form>
                </div>
            </div>
        {% endif %}

    {% endblock %}