{% extends "home.html" %}
    {% block title %}Pescada Store: Carrinho de Compras{% endblock %}
    {% load static %}
    {% block conteudo %}

        <h2>Carrinho de Compras</h2>
        {% if produtos and carrinho and items %}
            <ul class="product_list">
            {% for product in produtos %}
                <li>
                    <a href="{% url 'detail' produto_id=product.pk %}">
                        <img src="{% static "store/images/" %}{{ product.image }}" alt="{{ product }}">
                    </a>
                    <strong>Tamanho: {{ product.tamanho }}</strong>
                    {% for item in items %}
                        {% if item.produto_id == product.id %}
                            <strong>Número de Itens: {{ item.quantidade }}</strong>
                        {% endif %}
                    {% endfor %}
                    <strong>Preço: {{ product.preco }}</strong>
                </li>
            {% endfor %}
            </ul>
            <strong>Total: {{ carrinho.valor_total }}€</strong>
        {% endif %}
        <form method="POST" action="{% url 'finalizar_compra' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Efetuar Compra</button>
        </form>
    {% endblock %}