{% extends "home.html" %}
{% load static %}
{% block title %}Pescada Store: Products{% endblock %}

{% block conteudo %}

    <script>
        window.onload = function () {
            document.body.style.backgroundColor = "#f2f2f2"; // set background color to red
            document.body.style.paddingTop = "220px"; // set top padding to 50 pixels
            document.body.style.backgroundImage = "none";
        }

    </script>
    <div class="tittle-container">
        <h1> Full Collection </h1>
    </div>

{% if product_list %}
    <ul class="product_list">
        {% for product in product_list %}
            <li>
                <a href="{% url 'detail' produto_id=product.pk %}">
                    <img src="{% static "store/images/" %}{{ product.image }}" alt="{{ product }}">
                </a>
                <strong>{{ product }}</strong>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination" style="justify-content: center">
        <ul class="pagination justify-content-center">
        {% if product_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.previous_page_number }}">Previous</a>
            </li>
        {% endif %}

        {% for num in product_list.paginator.page_range %}
            {% if product_list.number == num %}
                <li class="page-item">
                    <a class="page-link" href="#">{{ num }}</a></li>
                </li>
            {% elif num > product_list.number|add:'-3' and num < product_list.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if product_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_list.next_page_number }}">Next</a>
            </li>
        {% endif %}
        </ul>
    </div>

{% else %}
    <p>Não há produtos disponíveis.</p>
{% endif %}
{% endblock %}
