<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pescada Store</title>
</head>
<body>
    <h1>Home Page for Pescada Store</h1>

    <form action="{% url 'cart_view' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Carrinho">
    </form>

    <form action="{% url 'full_collection' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Full Collection">
    </form>

    <form action="{% url 'redirectLogin' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Login">
    </form>

    <form action="{% url 'redirectSignup' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Signup">
    </form>

    <form action="{% url 'sweatshirts' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sweatshirts">
    </form>

    <form action="{% url 'redirectAddStaff' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Adicionar Staff">
    </form>

    <form action="{% url 'profile' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Profile">
    </form>

    <form action="{% url 'logout_view' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>

</body>
</html>