<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pescada Store{% endblock %}</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href={% url 'home' %}><img src="{% static "store/images/whiteLogo.png" %}"></a>
        </div>
        <div>
            {% if msg %}
                <p><strong>{{ msg }}</strong></p>
            {% endif %}
        </div>
        <div class="header-buttons">
            {% if request.user.is_authenticated %}
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Perfil">
                </form>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <div>
                    <form action="{% url 'redirectLogin' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Login">
                    </form>
                </div>
                <div>
                    <form action="{% url 'redirectSignup' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Signup">
                    </form>
                </div>
            {% else %}
                <div>
                    <form action="{% url 'logout_view' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Logout">
                    </form>
                </div>
            {% endif %}
            <form action="{% url 'cart_view' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Carrinho">
            </form>
        </div>
    </header>

    <nav>
        {% block nav_list %}
            <ul class="nav_list">
            <li>
                <form action="{% url 'full_collection' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Full Collection" class="nav-button ">
                </form>
            </li>

            <li>
                <form action="{% url 'sweatshirts' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Sweatshirts" class="nav-button">
                </form>
            </li>
            <li>
                <form action="{% url 'tshirt' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="T-Shirts" class="nav-button">
                </form>
            </li>
            {% if request.user.is_superuser %}
                <li>
                    <form action="{% url 'redirectAddStaff' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Adicionar Staff" class="nav-button">
                    </form>
                </li>
            {% endif %}
            {% if request.user.staff %}
                <li>
                    <form action="{% url 'redirectAddProduct' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Adicionar Produtos" class="nav-button">
                    </form>
                </li>
            {% endif %}
            </ul>
        {% endblock %}
    </nav>
    <main>
        {% block conteudo %}
            <div class="centered-main">
                <h1>Pescada clothes</h1>
                <p> </p>
                <div class="form_type">
                    <p>Bem-vindo à Pescada Store, a loja de roupa para adolescentes que amam o mar, o surf e uma boa noitada.</p>
                    <p>Na Pescada Store, acreditamos que a moda e o estilo podem estar em harmonia com a natureza e, portanto, dedicamos-nos a produzir roupa que reflita essa mesma filosofia.</p>
                    <p>A nossa coleção é inspirada no estilo de vida à beira-mar, e todos os nossos produtos são feitos com materiais de qualidade e amigos do ambiente.</p>
                    <p>Mas a Pescada não é apenas uma loja de roupa, temos um compromisso com a preservação das pescadas mundiais, uma espécie de peixe que está sob ameaça de extinção devido à pesca excessiva.</p>
                    <p>Como parte do nosso compromisso com a sustentabilidade, doamos 20% dos nossos lucros para organizações de proteção das pescadas em todo o mundo.</p>
                </div>
            </div>
            <div class="tittle-container">
                <h1> A missão da Pescada Store é salvar as Pescadas ! </h1>
            </div>
            <div class="container_box">
                <figure>
                    <img src="{% static "store/images/pescada_branca.jpg" %}" alt="Pescada Branca" width=300px height="300px">
                    <figcaption>Pescada Branca</figcaption>
                </figure>
                <figure>
                    <img src="{% static "store/images/pescada_amarela.jpg" %}" alt="Pescada Amarela" width=300px height="300px">
                    <figcaption>Pescada Amarela</figcaption>
                </figure>
                <figure>
                    <img src="{% static "store/images/pescada_cambucu.jpg" %}" alt="Pescada Cambucu" width=300px height="300px">
                    <figcaption>Pescada Cambucu</figcaption>
                </figure>
            </div>
        {% endblock %}
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_box">
                        <strong>Contactos: </strong>
                        <ul>
                            <li><strong>Email:</strong> pescada.store@pescada.com</li>
                            <li><strong>Telemovel: </strong> 123456789</li>
                            <li><strong>Intagram: </strong> @pescada_store</li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer_box">
                        <strong>Founders:</strong>
                        <ul>
                            <li>
                                Diogo Nunes
                            </li>
                            <li>
                                Vasco Fidanza
                            </li>
                            <li>
                                Kevin Paresh
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer_box">
                        <strong>Localizações</strong>
                        <ul>
                            <li><a href="https://www.google.com/maps/place/Maputo,+Mo%C3%A7ambique/@-25.8962586,32.6106835,12z/data=!3m1!4b1!4m6!3m5!1s0x1ee69723b666da55:0x42497f579a6bb442!8m2!3d-25.969248!4d32.5731746!16zL20vMGZxYnk">Maputo</a></li>
                            <li><a href="https://www.google.com/maps/place/Beja,+Portugal/@38.0224159,-7.9298264,13z/data=!3m1!4b1!4m6!3m5!1s0xd1a7371a5dfcd87:0x6a5aea70e6cc5193!8m2!3d38.0153039!4d-7.8627308!16zL20vMDI5dHlq">Beja</a></li>
                            <li><a href="https://www.google.com/maps/place/Lisboa,+Portugal/@38.7436863,-9.2014027,13z/data=!3m1!4b1!4m6!3m5!1s0xd19331a61e4f33b:0x400ebbde49036d0!8m2!3d38.7222524!4d-9.1393366!16zL20vMDRsbGI">Lisboa</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer_box">
                        <a href="comments.html">Comentários</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>