{% extends "home.html" %}
    {% block title %}Pescada Store: Login Page{% endblock %}

    {% block conteudo %}
        {% if msg_erro %}
            <h2> {{ msg_erro }} </h2>
        {% endif %}

        <div class="div_formulario">
            <form action="{% url 'login_view' %}" method="post" class="form_type">
                <h1>Login</h1>
                {% csrf_token %}
                <p>Username</p>
                <input type="text" name="username" autofocus>
                <p>Password</p>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Submeter">
            </form>
        </div>
    {% endblock %}