{% extends 'home.html' %}
    {% block title %}Pescada Store: Remover Staff Members{% endblock %}
    {% block conteudo %}
        <script>
        window.onload = function () {
            document.body.style.backgroundColor = "#f2f2f2"; // set background color to red
            document.body.style.paddingTop = "220px"; // set top padding to 50 pixels
            document.body.style.backgroundImage = "none";
        }

        </script>
        <div class="tittle-container">
            <h1> Remover Staff </h1>
        </div>

        <div class="container-xl">
            <div class="alert-danger">
                {% if msg %}
                    <h2> {{ msg }} </h2>
                {% endif %}
            </div>
            <table class="table table-dark table-hover large-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ações</th>
                    </tr>

                </thead>
                <tbody>
                    {% for staff in staff_list %}
                    <tr>
                        <th scope="row">{{ staff.id }}</th>
                        <td >{{ staff.primeiro_nome }} {{ staff.apelido }}</td>
                        <td>{{ staff.email }}</td>
                        <td>
                            <form method="POST" action="{% url 'delete_staff' staff.user.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remover</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}

