{% extends "home.html" %}
    {% block title %}Pescada Store: Signup Page{% endblock %}

    {% block conteudo %}
        <div class="div_formulario">
            <form action="{% url 'signup_view' %}" method="post" class="form_type">
                <h1>Signup:</h1>
                {% csrf_token %}
                <p><strong>Username: </strong></p>
                <input type="text" name="username" autofocus>
                <p><strong>Password: </strong></p>
                <input type="password" name="password">
                <p><strong>Primeiro Nome: </strong></p>
                <input type="text" name="primeiro_nome">
                <p><strong>Apelido: </strong></p>
                <input type="text" name="apelido">
                <p><strong>Email: </strong></p>
                <input type="email" name="email">
                <p><strong>Data de Nascimento: </strong></p>
                <input type="date" name="data_nascimento">
                <p><strong>Morada: </strong></p>
                <input type="text" name="morada">
                <p><strong>Número de Télemovel: </strong></p>
                <input type="number" name="numero_telemovel">
                <p><strong>Número de Cartão Cidadão (CC): </strong></p>
                <input type="number" name="num_cartao_cidadao">
                <p><strong>Número de Identificação Fiscal (NIF): </strong></p>
                <input type="number" name="nif">
                <p></p>
                <input type="submit" value="Submit">
            </form>
            <script>
                const form = document.querySelector("form")
                form.addEventListener('submit', e => {
                    if (!form.checkValidity()) {
                        e.preventDefault()
                    }
                    form.classList.add('was-validated')
                })
            </script>
        </div>
    {% endblock %}