{% extends "home.html" %}
    {% load static %}
    {% block title %}Pescada Store: Sweatshirts{% endblock %}
    {% block conteudo %}
        <div class="tittle-container">
            <h1> Sweatshirts </h1>
        </div>
        {% if product_list %}
            <ul class="product_list">
                {% for product in product_list %}
                   <a href="{% url 'detail' produto_id=product.pk %}"><li>
                       {% if product.cor == 'Azul' %}
                            <img src="{% static "store/images/blueSS.png" %}" alt="Sweatshirt Azul">
                       {% elif product.cor == 'Branco' %}
                            <img src="{% static "store/images/whiteSS.png" %}" alt="Sweatshirt Branca">
                       {% elif product.cor == 'Cinzento' %}
                            <img src="{% static "store/images/greySS.png" %}" alt="Sweatshirt Cinzenta">
                       {% elif product.cor == 'Preto' %}
                            <img src="{% static "store/images/blackSS.png" %}" alt="Sweatshirt Preta">
                       {% endif %}
                   </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há sweatshirts disponíveis.</p>
        {% endif %}
    {% endblock %}