{% extends "home.html" %}
    {% load static %}
    {% block title %}Pescada Store: T-Shirts{% endblock %}

    {% block conteudo %}
        <div class="tittle-container">
            <h1> T-Shirts </h1>
        </div>
        {% if product_list %}
            <ul class="product_list">
                {% for product in product_list %}
                    <li>
                        <a href="{% url 'detail' produto_id=product.pk %}">
                            {% if product.cor == 'Azul' %}
                                <img src="{% static "store/images/AzulTS01.png" %}" alt="T-Shirt Azul">
                            {% elif product.cor == 'Cinzento' %}
                                <img src="{% static "store/images/CinzentoTS01.png" %}" alt="T-Shirt Cinzenta">
                            {% elif product.cor == 'Preto' %}
                                <img src="{% static "store/images/PretoTS01.png" %}" alt="T-Shirt Preta">
                            {% elif product.cor == 'Branco' %}
                                <img src="{% static "store/images/BrancoTS01.png" %}" alt="T-Shirt Branca">
                            {% else %}
                                <img src="{{ produtc.image_url }}" alt="{{ product.name }}">
                            {% endif %}
                        </a>
                        <strong>{{ product }}</strong>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Não há T-Shirts disponíveis.</p>
        {% endif %}
    {% endblock %}