@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    height: 100%;
    margin: 0;
}


.dropdown-hover:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}


body {
    background-image: url('../images/FundoHome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: scroll;
    color: ghostwhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 400px;

}

homescreen{
    background-image: url('../images/FundoHome.jpg');
}



.logo {
    float:left;
    padding-left: 44%;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 21%;
    height: auto;
    align-items: center;
    justify-content: center;
    align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header {
    position:fixed;
    top:0;left:0;right:0;
    background: #004957;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;

}



main{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 80px;
    flex-grow: 1;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    color: whitesmoke;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow:auto;
}

.header-buttons{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;

}

#icon{
    position: absolute;
    top: 10px;
    right: 0px;
}



.header-buttons form{
    margin-left: 10px;
}

.header-buttons input[type="submit"]{
    background-color: aquamarine;
    color: #004957;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

.header-buttons input[type="submit"]:hover{
    background-color: azure;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.product_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.product_list li img{
    max-width: 100%;
    height: auto;
}

.form_type {
    background-color: #ffffff;
    color: black;
    padding: 50px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 65px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 100%;

}

.div_formulario{
    text-align: center;
}

.tittle-container{
    text-align: center;
    margin-bottom: 30px;

}

.centered-main{
    text-align: center;
    margin-bottom: 30px;

}

.centered-main h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.tittle-container h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer {
  width: 100%;
  background-color: #004957;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

strong {
    font-weight: bold;
}



figure {
    background-color: ivory;
    color: black;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: arial, sans-serif;
}


.container img {
  max-width: 100%;
  max-height: 100%;
}

.align-left {
  float: left;
  margin-right: 10px;
}

.login{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.login h1{
    font-size: 36px;
    margin-bottom: 25px;
}

.login form{
    font-size: 20px;
}

.login form form-group{
    margin-bottom: 12px;

}

.login form input[type="submit"]{
    font-size: 20px;
    margin-top: 15px;
    background: #004957;
    border: 2px solid #004957;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
}
.login form input[type="text"], input[type="password"]{
    border: 1px solid black;

}

.formulario{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    background: whitesmoke;
    border-radius: 8px;
}

.formulario h2, label{
    color: black;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    height: 100%;
    width: 100%;

}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n){
    justify-content: end;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.input-box in:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.alert p{
    font-size: 14px;
    font-style: italic;
    color: dimgrey;
    margin: 5px 0;
    padding: 10px;
}

.alert a{
    text-decoration: none;
}

.alert a:hover{
    text-decoration: underline;
}

.button-container{
    margin: 15px 0;
}
.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: white;
    border: none;
    background-image: linear-gradient(to right, beige, purple);
}

.button-container button:hover{
    background-image: linear-gradient(to right, purple, beige);
}

.profile {

}
.profile strong {
    font-weight: bold;
    color: black;
}

@media(max-width: 600px) {
    .container{
        min-width: 280px;
    }
    .content{
        min-height: 380px;
        width: 100%;
    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
}

ion-icon {
  font-size: 40px;
  margin-right: 10px;
}


.line {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
}

button-lgn{
    background:none;
    border:none;
    padding:0;
    margin:0;
    cursor:pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: brightness(0%) saturate(100%) invert(27%) sepia(44%) saturate(2942%) hue-rotate(116deg) brightness(100%) contrast(100%);
}

.footer_a{
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.footer_a:hover {
    background-color: black;
    color: #ffffff;
}

