* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    height: 100%;
    margin: 0;
}
body {
    background-image: url('../images/sea.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: ghostwhite;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.logo {
    float: left;
    padding-left: 0%;
}

.logo img{
    width: 15%;
    height: auto;
}

header {
    font-family: 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
    background-color: #004957;
    color: ghostwhite;
    margin: 0px;
}

nav {
    background-color: black;
    padding: 5px;
    margin-bottom: 30px;
}
ul {
    word-spacing: 0px;
    display: grid;
}

.nav_list{
    display: flex;
    justify-content: center; /* NOVO */
    margin: 0;
    padding: 0;
    list-style: none; /* NOVO */
}
.nav_list li {
    padding: 0 35px;
    display: inline;
}

.nav-button{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    border: none;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 180px;
}

.nav-button:hover{
    background-color: aquamarine;
}

main{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 80px;
    flex-grow: 1;
}

.container {
    width: 99%;
    margin: 0 auto;
    overflow: auto;
    color: whitesmoke;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow:auto;
}

.header-buttons{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;

}

.header-buttons form{
    margin-left: 10px;
}

.header-buttons input[type="submit"]{
    background-color: aquamarine;
    color: #004957;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
}

.header-buttons input[type="submit"]:hover{
    background-color: azure;
}

.product_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.product_list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.product_list li img{
    max-width: 100%;
    height: auto;
}

.form_type {
    background-color: #004957;
    color: white;
    padding: 50px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 65px;
    display: inline-block;
    text-align: left;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 10px;

}

.div_formulario{
    text-align: center;
}

.tittle-container{
    text-align: center;
    margin-bottom: 30px;
}

.centered-main{
    text-align: center;
    margin-bottom: 30px;

}

.centered-main h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.tittle-container h1{

    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer {
  width: 100%;
  background-color: #004957;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.box{
    background-color: #004957;
    min-height: 50px;
    font-size: 2rem;
    text-align: left;
}

.box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.box ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.box a {
  color: #fff;
  text-decoration: none;
}

.box a:hover {
  color: deepskyblue;
}

strong {
    font-weight: bold;
}



figure {
    float: right;
    background-color: ivory;
    color: black;
    border: 4px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: arial, sans-serif;
}

.left-div {
    width: 50%;
    float: left;
}
.right-div {
    width: 50%;
    float: right;
}

.container img {
  max-width: 100%;
  max-height: 100%;
}

.align-left {
  float: left;
  margin-right: 10px;
}